
.tamil{
  width: 250px;
}
.dhurai{
  background-color: rgb(196, 22, 215);
}
.cards{
  width: 300px;
}
.color-nav{
  background-color: rgba(226, 140, 12, 0.838);
}
.form{
  background-color: rgb(26, 112, 232);
  /* #FFFFFF
  #9F2187
  #C62074
  #D04035
  #ECB941
  #EEE445
  #A7C64D */
}
.bg{
  background-image: linear-gradient(to right,  #9F2187,   #C62074,  #D04035, #ECB941, #EEE445,#A7C64D);
}
.width1{
  width: 28rem;
}
